
    
    nav {
      background-color: white;
      border-color: white;
    }

    #logo {
      margin: 0 80px;
      font-weight: bold;
      margin-right: 170px;
      font-size: 25px;
      text-transform: capitalize;
    }

    .centerLink {
      margin-top: 11px;
      font-weight: bold;
      text-transform: uppercase;
    }

    a:hover {
      color: white;
    }

    .centerLink:hover {
      background: rgb(14, 141, 214);
      color: white;

    }

    .icons {
      position: relative;
      left: 250px;

      padding: 10px;
      font-size: 1.5em;
    }


    .fa-facebook {
      color: #3b5998;
    }

    .fa-instagram {
      color: #3f729b;
    }

    .fa-envelope {
      color: #D44638;
    }

    #upperImage {
      background: url('images/ocean.jpg'); 
      background-attachment: fixed;
      width: 100%;
      height: 700px;
      background-size: cover;
    }

   

    .center {
      text-align: center;
      font-family: 'Pacifico', cursive;
    }

    #pTag {
      color: white;
      font-size: 1.5em;
    }

    .navbar,
    .navbar-expand-lg,
    .navbar-light {
      background-color: transparent;
    }

    body,
    html {
      margin: 0;
      padding: 0;
    }

    #heading {
      margin-top: 10px;
    }

    .nav,
    .nav-tabs {
      position: relative;
      float: right;
    }


    #surfHeading {
      text-transform: capitalize;
      text-align: center;
      font-size:25px;
    }

    .tabDialog {
      margin-left: 90px;
      margin-top: 10px;

    }

    .tabDialog h3 {
      border: 0;
    }

    .triangle {
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 430px 290px 0 0;
      border-color: #0ed1df transparent transparent transparent;
    }

    .card-img {
      position: relative;
      top: -400px;
      left: 10px;
    }

    .card {
      height: 430px;
      width: 900px;
      margin-left: 210px;
      margin-top:20px;
    }

    .tabDialog {
      background: transparent;
      border: none;
    }

    .tabDialog .ui-widget-header {
      background: transparent;
      border: none;
      border-radius: 0px;
    }

    .tabDialog .ui-tabs-panel {
      display: none;
      background: transparent;
      border-width: 0px;
      background: none;
    }

    .tabDialog .ui-tabs-nav .ui-state-default {
      background: transparent;
      border: none;
    }

    .tabDialog .ui-tabs-nav .ui-state-active {
      border: none;
    }

    .tabDialog .ui-tabs-nav .ui-state-default a {
      color: #141414;
      border: none;
    }

    .tabDialog .ui-tabs-nav .ui-state-active a {
      color: #0abbac;
      text-decoration: underline;
      border: none;
    }

    .ui-widget.ui-widget-content {
      border: 0;
    }

    .flexing {
      display: flex;
      flex-direction: row;
      margin-left: 20px;
    }

    .flexing>h4 {
      font-weight: bold;
      margin-right: 50px;
    }

    .btn {
      background-color: rgb(7, 166, 187);
    }

    .viewLink {
      text-decoration: underline;
      margin-left: 20px;
    }

    .viewLink:hover {
      color: rgb(7, 166, 187);
    }


/*Middle part of the image  */
#middleImage {
    background: url('images/ride11.jpg');
      background-size: cover;
      background-repeat: no-repeat;
      width:100%;
      height:600px;
        position: relative;
        z-index:1;
}

.second{
  margin-top:35px;
  box-sizing: border-box;
}

.closingText{
height:570px;
background-color: whitesmoke;
position: relative;
float:left;
top:150px;
z-index: 40;
width:550px;
}

.centerText > a{
  text-decoration: underline;
}

.centerText > .head{
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  font-size: 16px;
}


.centerText{
 width:250px;
 height:100px;
 margin:10px auto;
 margin-top:60px;
 
}

.fa-times{
  font-size:1.3em;
  margin-left:100px;
  
}

.video{
  width:350px;
  height:250px;
  position: relative;
  float: right;
  top:480px;
  left:-360px;
  z-index: 2;
  box-shadow: 20px 20px 23px 0px rgb(179, 179, 179);
 
}

.videoImage > img{
  width:100%;
  display:block;
}

.fa-play{
  font-size:30px;
  margin-left:25px;
  margin-top:20px;
  color:white;
}

.marginBottom{
  margin-bottom: 130px;
}

.roundIcon{
  width: 80px;
  height:80px;
  border-radius: 40px;
  border:4px solid white;
margin-left: 20px;
margin-top:17px;


 
}

.outerCircle{
  width: 120px;
  height:120px;
  border-radius: 60px;
  border:1px solid white;
 position: relative;
 z-index: 5;
 margin:0 auto;
 margin-top:-180px;
}
/*Third part 
	.avatar {
		margin: auto;
		border-radius: 50%;
		max-width: 96px;
	}

	#customers-testimonials .box {
		opacity: .2;
		transform: scale3d(0.8, 0.8, 1);
		-webkit-transform: scale3d(0.8, 0.8, 1);
		transition: all 0.3s ease-in-out;
		-webkit-transition: all 0.3s ease-in-out;
		-moz-transition: all 0.3s ease-in-out;
	}

	#customers-testimonials .owl-item.active.center .box {
		opacity: 1;
		transform: scale3d(1.0, 1.0, 1);
		-webkit-transform: scale3d(1.0, 1.0, 1);
  }
  
  */

.carousel-control-prev-icon{
  background-color:black;
  position: relative;
  left:-100px;
}
.carousel-control-next-icon{
  background-color:black;
  position: relative;
  right:-100px;
}

.carousel{
  margin:0 auto;
  position: relative;
  top:-100px;
  width: 1000px;
   height: 300px;
   
}

.carousel1{
   transform:translateY(-50px);
}

.carousel2{
 transform:translate(-20px,20px);
}

.carousel3{
transform:translate(-35px, -30px);  

}

.carousel4{
  transform:translate(-50px,20px);
}

.cardCarousel:hover{
 background-color: rgb(64, 179, 224);
}

.pos1{
  position: relative;
  top:35px;
}



.carousel-inner{
  width: 990px;
   height: 300px;
}
.carousel-item > img{
  width:400px;
  height:400px;
}

.cardCarousel{
  width:240px;
  height:300px;
  background-color:		rgb(236, 240, 241 );
}

.circleProfile{
  width:50px;
  height:50px;
  border-radius: 25px;
  position: relative;
  top:15px;
  left:60px;

}

#dp1{
  height:120px;
  background-size: cover;
  display:block;
    background-attachment: fixed;
    width:120px;
    border-radius: 60px;
}

.centerName{
  position: relative;
  top:3px;
  font-weight:bold;
  left:20px;
}

.address{
  position: relative;
  top:-10px;
  left:20px;
}

.fa-asterisk{
  color:rgb(58, 54, 54);
  position: relative;
  top:-15px;
  left:20px;
  font-size:10px;
}

.textContainer{
  width:200px;
  position: relative;
top:10px;
}

.centerName{
  color:teal;
}

.fa-compass{
  color:rgb(114, 111, 111);
  top:-10px;
  left:20px;
}

.location{
  position: relative;
  top:-10px;
  lefT:20px;
}
  
   .copyright {
     position: relative;
     left: 163px;
     top:-130px;
     color:rgb(73, 73, 73);
   }

   .containerCard{
     margin-top:100px;
     position: relative;
     z-index:4;
     top:150px;
   }

   .cardHeader >h4{
    text-transform: uppercase;
    text-align:center;
  }

   .cardHeader > .fa-times{
   font-size:20px;
  margin-left:670px;
  }

   .imageCard{
    height:80px;
    width:200px;
    margin:15px;
   
  }

  .cards{
     margin-left: auto;
     margin-right: auto;
     margin-left:320px;
  }
  


  .hovering:hover{
   color:rgb(12, 54, 240);
   cursor:grab;
   box-shadow: 0px 35px 6px -2px rgba(82,79,82,1);
 
  }


  .cardButton{
    text-transform: uppercase;
    background-color: rgb(23, 156, 218);
    color:white;
    margin-top:210px;
    margin-left:560px;
    width:200px;
  }
  
/*Four in 1*/

.instagram{
  text-transform: uppercase;
  letter-spacing: 10px;
  color:rgb(168, 167, 167);
  font-size:63px;
  opacity: 0.2;
  position: relative;
  top:265px;
  left:163px;
 letter-spacing: 15px;
  overflow: hidden;
  width:500px;
  font-weight: bold;
  font-family: 'Raleway', sans-serif;
}


.fourImages{
  width:500px;
  height:500px;
  margin-left: 180px;
  margin-top:10px;
  position: relative;
  top: 220px;
  z-index:10;
}


.rowImages{
  width:250px;
  height:250px;
}

.four{
  position: relative;
  
}
.fourFooter{
  display:block;
  background-color: white;
  width:500px;
  height:55px;
  
}

.fourIg{
  color: rgb(23, 182, 182);
  font-size: 35px;
  margin-top:10px;
  margin-left:10px;
  
}

.fourFlex > h3{
  font-size:20px;
  margin-top:15px;
   margin-left:10px;
  text-transform: uppercase;
  color: rgb(23, 182, 182);
}

.fourFlex{
  display: flex;
}

.fourFlex>p{
   margin-top:15px;
   margin-left:10px;
   color:rgb(66, 64, 64);
   font-size:18px;
}

.facebookDiv{
  width:400px;
  height:160px;
    background-color: #3b5998;
}

.lowerColor{
  width:400px;
  height:160px;
  background-color: rgb(201, 200, 198);
  box-sizing: border-box;
}

.divF{
  position: relative;
 float:right;
 left:-190px;
 top:365px;
 z-index: 8;
 box-sizing: border-box;
}

.divF:hover{
  cursor: pointer;
}

.surfFacebook{
  width:250px;
  height:85px;
  
  position: relative;
  z-index:5;
  margin:0 auto;
  top:-250px;
}
#surFb{
  background-size: contain;
  width:100%;
  display:block;
}

.surfProfile{
  width:250px;
  height:56px;
 background-color: white;
  position: relative;
  top:-2px;
  z-index: 10;
}

.surfProfile > p{
font-size: 12px;
color:rgb(48, 47, 47);
font-weight:bold;
}


#faceText{
  color:rgb(247, 240, 240);
  font-size:35px;
  text-align: center;
  padding-top:15px;

}

.dp{
  width:30px;
  height:33px;
}

.imgDp{
  position: relative;
  top:-17px;
  left:20px;
  border:1px solid white;
}

.faceLink{
  background-color:whitesmoke;
  position: relative;
  top:46px;
  z-index:20;
  height:24px;
  width:98px;
left:75px;
}

.faceLink > .fa-facebook{
  padding-right:5px;
  padding-left: 3px;
  font-size:25px;
}

.share{
  background-color:whitesmoke;
  position: relative;
  left:285px;
  top:46px;
  z-index:20;
  height:24px;
  width:68px;
}

.share > .fa-share{
  color:grey;
  padding-right:5px;
  padding-left: 3px;
  font-size:25px;
  
}

#shareP{
  font-weight:bold;
}

.faceLink > p{
 
  font-weight: bold;;
}

.surferLogo{
  width:65px;
  height:60px;
  background-color: rgb(64, 179, 224);
  border:3px solid white;
  position: relative;
  top:-57px;
  right:-85px;
  z-index:30;
}

#co{
  text-align: center;
  position: relative;
  top:-22px;
  font-size:18px;
}

#srfs{
  text-align: center;
  font-size:18px;
}

.surferLogo > p{
  text-transform: uppercase;
  color:white;
 
}

#headTexts{
  position: relative;
  z-index:20;
  left:155px;
  top:20px;
}

.floatTexts{
  color:rgb(255, 249, 249);
  font-weight: bold;
  top:10px;
}

#fiveK{
 color:rgb(255, 249, 249);
  position: relative;
  top:-20px;
  font-weight: bold;
}

footer{
  background-color: rgb(20, 18, 18);
  margin-top:100px;
  height:350px;
    z-index:5;
 position: relative;
overflow: hidden;
 
}


.footerIcons{
  width:300px;
  height:300px;
  position: relative;
  left:750px;
  margin-top:20px;
  
}

.flex1{
 display: flex;
 flex-direction: column;
 margin-top:30px; 
 margin-right:40px;
}

.flex2{
 display: flex;
 flex-direction: column;
  margin-top:30px; 
}

.flex1 > a, .flex2 > a{
  color:rgb(206, 206, 206);
  margin:5px;
}

.flex1 > a:hover{
  text-decoration: none;
}

.flex2 > a:hover{
  text-decoration: none;
}

.fa-fire{
  color:rgb(202, 202, 33);
}

.input-group{
  position:relative;
  top:-80px;
  right:-730px;
  width:300px;
  
}

.inpuText {
  border:0;
  background-color: #000;
}

.fa-arrow-circle-right{
  color:teal;
  font-size: 20px;
}

.input-group>.form-control:not(:first-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border:0;
    background-color:transparent;
    border-bottom:1px solid white;
}

.input-group-text > .fa-envelope{
  color: rgb(39, 38, 38);
  position: relative;
  right:-30px;
  top:5px;
}

.input-group-text {
    display: flex;
    align-items: center;
    margin-bottom: 0px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: rgb(73, 80, 87);
    text-align: center;
    white-space: nowrap;
    background-color: transparent;
    padding: 0.375rem 0.75rem;
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-image: initial;
    border-radius: 0.25rem;
}

.input-group-text > .fa-arrow-circle-right{
  color: teal;
  width:20px;
  height:20px;
  border-radius: 10px;
  background:white;
  position: relative;
  left:-30px;
  top:5px;
}

.fa-circle{
  font-size:10px;
  margin-left:5px;
  margin-top:7px;
}

.ourTeam{
  margin-bottom:200px;
  text-transform: uppercase;
  letter-spacing: 10px;
  color:rgb(168, 167, 167);
  font-size:150px;
  opacity: 0.2;
  position: relative;
 left:180px;
 top:100px;
 letter-spacing: 15px;
overflow: hidden;
  width:1000px;
  font-weight: bold;
  font-family: 'Raleway', sans-serif;
}